<form id="specification-search-form" class="form-horizontal advanced-search-form {% if record_type != 'specification' %} hidden {% endif %}">
    <div class="form-group">
        <label class="col-xs-2 control-label" for="spec-number">Spec Number</label>
        <div class="col-xs-10" id="spec-number">
            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control input-sm" name="spec_number_match_type">
                        <option value="includes" selected>
                            Includes
                        </option>
                        <option value="starts-with">
                            Starts w/
                        </option>
                        <option value="ends-with">
                            Ends w/
                        </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="spec_number_match" />
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <label class="col-xs-3 control-label" for="spec-state">State</label>
                        <div class="col-xs-6" id="spec-state">
                            <select class="form-control input-sm" name="state">
                                <option value="">-- any --</option>
                                {% for state in Specification.workflow.states %}
                                    <option value="{{state}}">{{state}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" name="in_open_state" />
                                    Open
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="spec-title">Text Fields</label>
        <div class="col-xs-10" id="spec-title">
            <input type="text" class="form-control" name="text_fields_query" placeholder="Searches name, description, summary, and notes"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="spec-owner">Owner</label>
        <div class="col-xs-10" id="spec-owner">
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control input-sm" name="owner_id">
                        <option value="">-- any --</option>
                        {% for owner in users %}
                        <option value="{{ owner.id }}">
                            {{ owner.get_name() }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="spec-created-by">Created By/On</label>
        <div class="col-xs-10" id="spec-created-by">
            <div class="row">
                <div class="col-xs-4">
                    <select class="form-control input-sm" name="created_by_id">
                        <option value="">-- any --</option>
                        {% for owner in users %}
                        <option value="{{ owner.id }}">
                            {{ owner.get_name() }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-8">
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control input-sm" name="created_on_start" id="specification_created_on_start">
                            <div class="input-group-addon" style="color: black;">to</div>
                        <input type="text" class="form-control input-sm" name="created_on_end" id="specification_created_on_end">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="exclude_obsolete" checked/>
                    Exclude Obsolete
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <a href="#" class="clear-selections pull-right">Clear Selections</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button class="btn btn-default pri-btn-primary" id="search-spec-btn">Search</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        var specificationSearchResults = $('#specification-search-results').DataTable({
            dom: '<"pull-left"r<"#specification-action-btns">><"pull-right"B>t<"pull-left"i><"pull-right"p>',
            columnDefs: [
                {targets: [0], render: renderUrlColumn, width: '15%'},
                {targets: [1], width: '10%'},
                {targets: [3], render: renderStateIcon },
                {targets: [8], render: renderDateColumn}
            ],
            columns: [
                {data: 'specification_number', name: 'specification_number', defaultContent: ''},
                {data: 'revision', name: 'spec_revision', defaultContent: ''},
                {data: 'name', name: 'name', defaultContent: ''},
                {data: 'state', name: 'state', defaultContent: ''},
                {data: 'summary', name: 'summary', defaultContent: '', visible: false},
                {data: 'scope', name: 'scope', defaultContent: '', visible: false},
                {data: 'owner', name: 'owner', defaultContent: '', visible: false},
                {data: 'created_by', name: 'created_by', defaultContent: '', visible: false},
                {data: 'created_at', name: 'created_at', defaultContent: '', visible: false}
            ],
            buttons: [
                {extend: 'colvis', text: 'Show Columns', columns: ':gt(0)', className: 'pri-btn-secondary'}
            ]
        });

        // Catch submission of forms and load data through datatables
        $('#search-spec-btn').on('click', function (e) {
            start_search();
            e.preventDefault();
            var queryParams = $('#specification-search-form').formSerialize();
            specificationSearchResults.ajax.url('/specification/advanced_search?' + queryParams).load(search_complete, true);
        });

        addSaveAndCopyToDataTable(specificationSearchResults, '#specification-action-btns');

        $('#specification_created_on_start').datepicker().on('changeDate', function(e) {
            $('#specification_created_on_end').datepicker('show');
        });
        $('#specification_created_on_end').datepicker();

        if ('{{record_type}}' === 'specification') {
            refreshSearchParams('{{record_type}}', specificationSearchResults);
        }
    });
</script>
