<form id="eco-search-form" class="form-horizontal advanced-search-form {% if record_type != 'eco' %} hidden {% endif %}" action="/eco/advanced_search">
    <div class="form-group">
        <label class="col-xs-2 control-label" for="eco-number">ECO Number</label>
        <div class="col-xs-10" id="eco-number">
            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control input-sm" name="eco_number_query_type">
                        <option value="includes" selected>
                            Includes
                        </option>
                        <option value="starts-with">
                            Starts w/
                        </option>
                        <option value="ends-with">
                            Ends w/
                        </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="eco_number_query" />
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <label class="col-xs-3 control-label" for="eco-state">State</label>
                        <div class="col-xs-6" id="eco-state">
                            <select class="form-control input-sm" name="state">
                                <option value="">-- any --</option>
                                {% for state in ECO.workflow.states %}
                                    <option value="{{state}}">{{state}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" name="in_open_state" />
                                    Open
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="eco-title">Text Fields</label>
        <div class="col-xs-10" id="eco-title">
            <input type="text" class="form-control" name="text_fields_query" placeholder="Searches name, description, summary, and notes" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="eco-project">Project</label>
        <div class="col-xs-10" id="eco-project">
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control input-sm" name="project_id">
                        <option value="">-- any --</option>
                        {% for project in projects %}
                        <option value="{{ project.id }}">
                            {{ project.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <label class="col-xs-3 control-label" for="eco-owner">Owner</label>
                        <div class="col-xs-9" id="eco-owner">
                            <select class="form-control input-sm" name="owner_id">
                                <option value="">-- any --</option>
                                {% for owner in users %}
                                <option value="{{ owner.id }}">
                                    {{ owner.get_name() }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="eco-created-by">Created By/On</label>
        <div class="col-xs-10" id="eco-created-by">
            <div class="row">
                <div class="col-xs-4">
                    <select class="form-control input-sm" name="created_by_id">
                        <option value="">-- any --</option>
                        {% for owner in users %}
                        <option value="{{ owner.id }}">
                            {{ owner.get_name() }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-8">
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control input-sm" name="created_on_start" id="eco_created_on_start">
                            <div class="input-group-addon" style="color: black;">to</div>
                        <input type="text" class="form-control input-sm" name="created_on_end" id="eco_created_on_end">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="exclude_obsolete" checked/>
                    Exclude Obsolete
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <a href="#" class="clear-selections pull-right">Clear Selections</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button class="btn btn-default pri-btn-primary" id="search-eco-btn">Search</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        var ecoSearchResultsTable = $('#eco-search-results').DataTable({
            dom: '<"pull-left"r<"#eco-action-btns">><"pull-right"B>t<"pull-left"i><"pull-right"p>',
            ordering: false,
            columnDefs: [
                {targets: [0], render: renderUrlColumn},
                {targets: [2], render: renderStateIcon},
                {targets: [7], render: renderDateColumn}
            ],
            columns: [
                {data: 'eco_number', name: 'eco_number'},
                {data: 'name', name: 'name'},
                {data: 'state', name: 'state'},
                {data: 'project', name: 'project', visible: false},
                {data: 'summary', name: 'summary', visible: false},
                {data: 'owner', name: 'owner', visible: false},
                {data: 'created_by', name: 'created_by', visible: false},
                {data: 'created_at', name: 'created_at', visible: false}
            ],
            buttons: [
                {extend: 'colvis', text: 'Show Columns', columns: ':gt(0)', className: 'pri-btn-secondary'}
            ]
        });

        // Catch submission of forms and load data through datatables
        $('#search-eco-btn').on('click', function (e) {
            start_search();
            e.preventDefault();
            var queryParams = $('#eco-search-form').formSerialize();
            ecoSearchResultsTable.ajax.url('/eco/advanced_search?' + queryParams).load(search_complete, true);
        });

        addSaveAndCopyToDataTable(ecoSearchResultsTable, '#eco-action-btns');

        $('#eco_created_on_start').datepicker().on('changeDate', function(e) {
            $('#eco_created_on_end').datepicker('show');
        });
        $('#eco_created_on_end').datepicker();

        if ('{{record_type}}' === 'eco') {
            refreshSearchParams('{{record_type}}', ecoSearchResultsTable);
        }
    });
</script>
