<form id="anomaly-search-form"
      class="form-horizontal advanced-search-form {% if record_type != 'anomaly' %} hidden {% endif %}"
      action="/anomaly/advanced_search">
    <div class="form-group">
        <label class="col-xs-2 control-label" for="anomaly-number">Anomaly Number</label>
        <div class="col-xs-10" id="anomaly-number">
            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control input-sm" name="anomaly_number_query_type">
                        <option value="includes" selected>
                            Includes
                        </option>
                        <option value="starts-with">
                            Starts w/
                        </option>
                        <option value="ends-with">
                            Ends w/
                        </option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="anomaly_number_query"/>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <label class="col-xs-3 control-label" for="anomaly-state">State</label>
                        <div class="col-xs-6" id="anomaly-state">
                            <select class="form-control input-sm" name="state">
                                <option value="">-- any --</option>
                                {% for state in Anomaly.workflow.states %}
                                    <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" name="in_open_state"/>
                                    Open
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="anomaly-title">Text Fields</label>
        <div class="col-xs-10" id="anomaly-title">
            <input type="text" class="form-control" name="text_fields_query"
                   placeholder="Searches Title, Summary, Analysis & Corrective Action"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="anomaly-project">Project</label>
        <div class="col-xs-10" id="anomaly-project">
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control input-sm" name="project_id">
                        <option value="">-- any --</option>
                        {% for project in projects %}
                            <option value="{{ project.id }}">
                                {{ project.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <label class="col-xs-3 control-label" for="anomaly-criticality">Criticality</label>
                        <div class="col-xs-9" id="anomaly-criticality">
                            <select class="form-control input-sm" name="criticality_id">
                                <option value="">-- any --</option>
                                {% for criticality in criticalities %}
                                    <option value="{{ criticality.id }}">
                                        {{ criticality.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="anomaly-owner">Owner</label>
        <div class="col-xs-10" id="anomaly-owner">
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control input-sm" name="owner_id">
                        <option value="">-- any --</option>
                        {% for owner in users %}
                            <option value="{{ owner.id }}">
                                {{ owner.get_name() }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="anomaly-created-by">Created By/On</label>
        <div class="col-xs-10" id="anomaly-created-by">
            <div class="row">
                <div class="col-xs-4">
                    <select class="form-control input-sm" name="created_by_id">
                        <option value="">-- any --</option>
                        {% for owner in users %}
                            <option value="{{ owner.id }}">
                                {{ owner.get_name() }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-8">
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control input-sm" name="created_on_start"
                               id="anomaly_created_on_start">
                        <div class="input-group-addon" style="color: black;">to</div>
                        <input type="text" class="form-control input-sm" name="created_on_end"
                               id="anomaly_created_on_end">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="exclude_obsolete" checked/>
                    Exclude Closed
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <a href="#" class="clear-selections pull-right">Clear Selections</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button class="btn btn-default pri-btn-primary" id="search-anomaly-btn">Search</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var anomalySearchResultsTable = $('#anomaly-search-results').DataTable({
            dom: '<"pull-left"r<"#anomaly-action-btns">><"pull-right"B>t<"pull-left"i><"pull-right"p>',
            columnDefs: [
                {targets: [0], render: renderUrlColumn},
                {targets: [2], render: renderStateIcon},
                {targets: [3], render: renderCriticalityIcon},
                {targets: [8], render: renderDateColumn}
            ],
            columns: [
                {data: 'anomaly_number', name: 'anomaly_number', defaultContent: ''},
                {data: 'name', name: 'name', defaultContent: ''},
                {data: 'state', name: 'state', defaultContent: ''},
                {data: 'criticality', name: 'criticality', defaultContent: ''},
                {data: 'project', name: 'project', defaultContent: '', visible: false},
                {data: 'summary', name: 'summary', defaultContent: '', visible: false},
                {data: 'owner', name: 'owner', defaultContent: '', visible: false},
                {data: 'created_by', name: 'created_by', defaultContent: '', visible: false},
                {data: 'created_at', name: 'created_at', defaultContent: '', visible: false},
                {data: 'corrective_action', name: 'corrective_action', defaultContent: '', visible: false},
                {data: 'analysis', name: 'analysis', defaultContent: '', visible: false}
            ],
            buttons: [
                {extend: 'colvis', text: 'Show Columns', columns: ':gt(0)', className: 'pri-btn-secondary'}
            ]
        });

        // Catch submission of forms and load data through datatables
        $('#search-anomaly-btn').on('click', function (e) {
            start_search();
            e.preventDefault();
            var queryParams = $('#anomaly-search-form').formSerialize();
            anomalySearchResultsTable.ajax.url('/anomaly/advanced_search?' + queryParams).load(search_complete, true);
        });
        addSaveAndCopyToDataTable(anomalySearchResultsTable, '#anomaly-action-btns');

        $('#anomaly_created_on_start').datepicker().on('changeDate', function (e) {
            $('#anomaly_created_on_end').datepicker('show');
        });
        $('#anomaly_created_on_end').datepicker();

        if ('{{record_type}}' === 'anomaly') {
            refreshSearchParams('{{record_type}}', anomalySearchResultsTable);
        }
    });
</script>
