<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed table-striped table-hover" id="tasks-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody data-link="row" class="pri-list rowlink">
                {% for search in saved_searches %}
                    <tr>
                        <td>
                            <a href="/advanced_search?{{search.search_parameters}}">{{search.id}}</a>
                        </td>
                        <td>
                            {{search.name}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
