
<div id="create_task_modal">
    <div class="row">
        <form id="createTaskForm" class="form-horizontal" method="POST" action="/task/create" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group {% if form.title.errors %} has-error{% endif %}">
                <label class="col-xs-4 control-label" for="title">{{ form.title.label }}</label>
                <div class="col-xs-7">
                    {{ form.title(placeholder="Do/Make/Fix/Test Thing", class_="form-control") }}
                    {% if form.title.errors %}
                    <span class="help-block">{{ form.title.errors|join(', ') }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if form.assign_to.errors %} has-error{% endif %}">
                <label class="col-xs-4 control-label" for="assign_to">{{ form.assign_to.label }}</label>
                <div class="col-xs-7">
                    {{ form.assign_to(class_="form-control") }}
                    {% if form.assign_to.errors %}
                    <span class="help-block">{{ form.assign_to.errors|join(', ') }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label" for="urgency">{{ form.urgency.label }}</label>
                <div class="col-xs-7">
                    {{ form.urgency(class_="form-control") }}
                </div>
            </div>
            <div class="form-group {% if form.create_need_date.errors %} has-error {% endif %}">
                <label class="col-xs-4 control-label" for="create_need_date">{{ form.create_need_date.label }}</label>
                <div class="col-xs-7">
                    <div class='input-group'>
                        <input type='text' class="form-control" name="create_need_date" id="create_need_date" placeholder="Select date" />
                        <div class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true" style="color: #323D4C;"></i>
                        </div>
                    </div>
                    {% if form.create_need_date.errors %}
                    <span class="help-block">{{ form.create_need_date.errors|join(', ') }}</span>
                    {% endif %}
                </div>
            </div>
        <div class="form-group {% if form.summary.errors %} has-error {% endif %}">
                <label class="col-xs-4 control-label" for="summary">{{ form.summary.label }}</label>
                <div class="col-xs-7">
                    {{ form.summary(class_="form-control") }}
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10">
                    <button type="submit" class="btn pri-btn-primary">Create Task</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        initial_focus('#title');
        $('#createTaskForm').ajaxForm({
            beforeSubmit: function(formData, jqForm, options) {
                disableModal('#create_task_modal', create_task_modal);
                return true;
            },
            error: function(response, statusText, xhr, $form) {
                enableModal('#create_task_modal', create_task_modal);
                // Just refresh the entire modal with the responsetext, will contain WTForm errors if any
                $('#create_task_modal').replaceWith(response.responseText);
            },
            success: function(response, statusText, xhr, $form) {
                window.location = response.url;
            }
        });
        $('#create_need_date').datepicker();
    });
</script>
