<div class="row">
    <div class="col-xs-12">
        <div class="pri-list">
            <div class="row header-row">
                <div class="col-xs-3">
                    <label class="control-label pri-field-label">WHO</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label pri-field-label">WHAT</label>
                </div>
                <div class="col-xs-6">
                    <label class="control-label pri-field-label">WHEN</label>
                </div>
            </div>

            <div class="row list-row pri-text">
                <div class="col-xs-3 ellipsis-text">
                    <p class="pri-text">TODO</p>
                </div>
                <div class="col-xs-3">
                    <p class="pri-text">TODO</p>
                </div>
                <div class="col-xs-6">
                    <p class="pri-text">TODO</p>
                </div>
            </div>
        </div>
    </div>
</div>