{% extends "layout.html" %}

{% from "shared/ajax_select_field.html" import render_ajax_select_field %}
{% from "shared/bookmark.html" import bookmark %}
{% from "shared/creation_fields.html" import creation_fields %}
{% from 'shared/thumbnail.html' import thumbnail %}
{% from "shared/trumbowyg.html" import trumbowyg %}
{% from "shared/view_changelog_button.html" import view_changelog_button %}
{% from "shared/view_revisionlog_button.html" import view_revisionlog_button %}
{% from "shared/xeditable_text_field.html" import render_xeditable_text_field %}
{% from 'shared/workflow.html' import workflow with context %}

{% block page_title %}{{ spec.specification_number }} - {{ spec.name }}{% endblock %}

{% block content %}
<div id="view_specification">
    <div class="row sticky-header-row">
        <div class="col-xs-1">
            <div class="pri-record-icon-wrapper">
                <i class="pri-record-icon pri-icons-record-specification" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-3">
                    <span class="pri-header">{{spec.specification_number}}</span>
                    <div class="pri-header-select revision">
                        <select class="form-control" onchange="window.location.href='/specification/{{spec.specification_number}}-'+this.value+window.location.hash">
                            {% for revision in revisions %}
                            <option value="{{ revision.revision }}"{% if revision.revision == spec.revision %} selected{% endif %}>
                                {{ revision.revision }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-7">
                    {{ render_xeditable_text_field(field=spec.name, parent_object=spec, api_url="/specification/update",
                    field_name='name', display_label=False, input_class="pri-subheader", non_edit_additional_css="margin-top: 20px;") }}
                </div>
                <div class="col-xs-2">
                    <div id="workflow_container">
                        {{ workflow(record=spec) }}
                    </div>
                    {{ bookmark(parent_object=spec, current_user=current_user) }}
                </div>
            </div>
        </div>
    </div> <!-- end div row sticky-header-row -->
    <div class="row header-info">
        <div class="col-xs-2" id="thumbnail_parent">
            {{ thumbnail(record=spec) }}
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    {{ render_xeditable_text_field(field=spec.scope, parent_object=spec, api_url="/specification/update", non_edit_additional_css="margin-top: 10px;",
                    field_name='scope', label="SCOPE", horizontal_labels=True, placeholder='Descriptive one-liner of what this Spec covers, or other useful information') }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ render_ajax_select_field(field=spec.owner, parent_object=spec, api_url="/specification/update",
                    field_name='owner', label='OWNER', options=users, horizontal_labels=True, non_edit_additional_css="margin-top: 6px; margin-left: -15px;",
                    option_id='id', option_name='get_name()', input_size='input-sm',
                    label_container_class='col-xs-2', label_additional_css="margin-right: 10px;") }}
                </div>
                <div class="col-xs-6 minus-one-column">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="control-label pri-field-label">CREATE</label>
                                </div>
                                <div class="col-xs-6">
                                    {% if spec.can_user_edit('revision') %}
                                    <i class="pri-app-icon create pri-icons-reports-add-log" onclick="reviseSpecificationModal({{spec.id}});" data-toggle="tooltip" title="Create New Revision"></i>
                                    {% else %}
                                    <i class="pri-app-icon create pri-icons-reports-add-log disabled" data-toggle="tooltip" title="Can only revise after design is released"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div> <!-- end div col-xs-4 -->
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label class="control-label pri-field-label">VIEW</label>
                                </div>
                                <div class="col-xs-10">
                                    {{ view_revisionlog_button(parent_object=spec) }}
                                    {{ view_changelog_button(parent_object=spec) }}
                                </div>
                            </div>
                        </div> <!-- end div col-xs-8 -->
                    </div> <!-- end div row -->
                </div> <!-- end div col-xs-6 minus-one-column -->
            </div> <!-- end div row -->
        </div> <!-- end col-xs-10 -->
    </div> <!-- end div row header-info -->
    <div class="row top-pad-15">
        <div class="panel">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#info">INFO</a></li>
                <li><a data-toggle="tab" href="#links">LINKS</a></li>
                <li><a data-toggle="tab" href="#approvals">APPROVALS</a></li>
                <li><a data-toggle="tab" href="#images">IMAGES</a></li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane active">
                    {% include "specification/tab_info.html" %}
                </div>
                <div id="links" class="tab-pane">
                    {% include "specification/tab_links.html" %}
                </div>
                <div id="approvals" class="tab-pane">
                    {% include "specification/tab_approvals.html" %}
                </div>
                <div id="images" class="tab-pane">
                    {% include "specification/tab_images.html" %}
                </div>
            </div>
        </div>
    </div> <!-- end div row -->
    <div class="row">
        <div class="col-xs-12">
            {{ creation_fields(parent_object=spec, moment=moment) }}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.sticky-header-row').sticky({topSpacing: $('.navbar').height(), zIndex: 4, getWidthFrom: '#view_specification .panel'});
    });
</script>
{% endblock %}
